* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
  
    margin: auto;
    background-color: rgb(37, 37, 52);
}

header { 
    
    margin: 0px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: white;

   
}

header img {

    height: 50px;
    vertical-align: middle;
    

}

header span {

    margin-left: 5px;
    vertical-align: middle;
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
}

main {

    width: 60%;
    margin: auto;
}

.section {

    background-color: white;
    padding: 15px;
    margin: 5px;
    padding-left: 50px;
    padding-right: 100px;
   
    
}

#tops {

    border-radius: 5px 5px 0px 0px;
}

#mains {

    border-radius: 0px 0px 5px 5px;
}




ul {
    
    margin: 15px;
    list-style: none;
}

li {

    margin:10px;
}

li:after {

    font-size: 10px;
    color: white;
    border-radius: 3px;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
    text-align: center;
    padding: 5px;
    margin-left: 5px;

}

/* BEFORE AND AFTER */

.no:before {

    content: "\2718";
    color: rgb(255, 0, 0);
    margin-right: 5px;
    border-color: red;
    border-radius: 50%;
    border: solid 1px;
    line-height: 18px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
   

}

.editorial:after {

    content: "Editorial";
    background-color: rgb(145, 191, 234);
   
}
.q1:after {

    content: "Q1 Goals";
    background-color: rgb(191, 57, 171);
   
}

.recruiting:after {

    content: "Recruiting";
    background-color: rgb(114, 175, 116);
    
}

.sales:after {

    content: "Sales";
    background-color: rgb(40, 72, 13);


}

.mobile:after {

    content: "Mobile";
    background-color: rgb(223, 179, 91);

}

.website:after {

    content: "Website";
    background-color: rgb(208, 215, 109);
    
}

.yes:before {

    content: "\2713";
    color: rgb(55, 205, 55);
    margin-right: 5px;
    border-color: rgb(55, 205, 55);
    border-radius: 50%;
    border: solid 1px;
    line-height: 18px;
    width: 15px;
    height: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;

}

/* BEFORE AND AFTER */

/* BUTTONS */

.btn {

    border-radius: 3px;
    font-size: 10px;
    width: 100px;
  

}

#task {

    background-color: rgb(127, 180, 255);
    border:none;
    color: white;
    padding: 5px;
    
}

#section {

    background-color: rgb(255, 255, 255);
    border: solid 1px;
    border-color: grey;
    color: grey;
    padding: 4px;
}

/* BUTTONS */

/* TEXT */

h2:before {

    content: "\25BC";
    font-size: 8px;
    margin-right: 10px;
    display:inline-block;
    transform: scale(2,1);

    
    
}

h2 {

   font-size: 20px;
   color: rgb(101, 94, 94);
   font-weight: 900;
   font-family:Verdana, Geneva, Tahoma, sans-serif
}

/* TEXT */